@page 
@model IdentityUsersModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!DOCTYPE html>
<html>
    <head>
        <title>BooksStore Admin</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />
    </head>
    <body>

    </body>
</html>

@functions{
    [Authorize]
    public class IdentityUsersModel : PageModel
    {
        private UserManager<IdentityUser> userManager;
        public IdentityUsersModel(UserManager<IdentityUser> mgr)
        {
            userManager = mgr;
        }
        public IdentityUser AdminUser { get; set; } = new();
        public async Task OnGetAsync()
        {
            AdminUser = await userManager.FindByNameAsync("Admin");    
        }
    }
}